<app-nav-bar-admin></app-nav-bar-admin>
<div class="container">
    <form [formGroup]="roomForm" >
        <div class="form-group">
            <label>Picture Link</label>
            <input type="text" class="form-control" formControlName="pic" required>
            <div class="text-danger" *ngIf="!validators[0]">
                Please choose a picture.
            </div>
        </div>
        <div class="form-group">
            <label>Type</label>
            <select type="text" class="form-select" formControlName="type" required>
                <option value="Single room">Single room</option>
                <option value="Double room">Double room</option>
                <option value="Deluxe room">Deluxe room</option>
            </select>
            <div class="text-danger" *ngIf="!validators[1]">
                Please choose a type.
            </div>
        </div>
        <div class="form-group">
            <label>price</label>
            <input type="text" class="form-control" formControlName="price" placeholder="From $xxx" required>
            <div class="text-danger" *ngIf="!validators[2]">
                Please choose a price.
            </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="description" required>
            <div class="text-danger" *ngIf="!validators[3]">
                Please choose a description.
            </div>
        </div>
        <div class="form-group">
            <label>Space</label>
            <input type="text" class="form-control" formControlName="space" required>
            <div class="text-danger" *ngIf="!validators[4]">
                Please choose a space.
            </div>
        </div>
        <br>
        <p class="w3-large"><i class="fa fa-bath"></i>
        <button (click)="onSelect('shower')" [ngClass]="roomForm.value.shower?'btn btn-dark btn-rounded':'btn btn-light btn-rounded'">
            <span *ngIf="roomForm.value.shower">Selected</span>
            <span *ngIf="!roomForm.value.shower">Unselected</span>
        </button>
        <i class="fa fa-phone"></i>
        <button (click)="onSelect('phone')" [ngClass]="roomForm.value.phone?'btn btn-dark btn-rounded':'btn btn-light btn-rounded'">
            <span *ngIf="roomForm.value.phone">Selected</span>
            <span *ngIf="!roomForm.value.phone">Unselected</span>
        </button>
        <i class="fa fa-wifi"></i>
        <button (click)="onSelect('wi-fi')" [ngClass]="roomForm.value.wifi?'btn btn-dark btn-rounded':'btn btn-light btn-rounded'">
            <span *ngIf="roomForm.value.wifi">Selected</span>
            <span *ngIf="!roomForm.value.wifi">Unselected</span>
        </button>
        <i class="fa fa-tv"></i>
        <button (click)="onSelect('tv')" [ngClass]="roomForm.value.tv?'btn btn-dark btn-rounded':'btn btn-light btn-rounded'">
            <span *ngIf="roomForm.value.tv">Selected</span>
            <span *ngIf="!roomForm.value.tv">Unselected</span>
        </button>
        <i class="fa fa-glass"></i>
        <button (click)="onSelect('glass')" [ngClass]="roomForm.value.glass?'btn btn-dark btn-rounded':'btn btn-light btn-rounded'">
            <span *ngIf="roomForm.value.glass">Selected</span>
            <span *ngIf="!roomForm.value.glass">Unselected</span>
        </button>
        <i class="fa fa-cutlery"></i>
        <button (click)="onSelect('cutlery')" [ngClass]="roomForm.value.cutlery?'btn btn-dark btn-rounded':'btn btn-light btn-rounded'">
            <span *ngIf="roomForm.value.cutlery">Selected</span>
            <span *ngIf="!roomForm.value.cutlery">Unselected</span>
        </button>
        </p>
        <button class="btn btn-success" (click)="onSaveRoom()">Save</button>
    </form>
</div>
